/* Основной стиль таблицы */
.inventory {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;  
}

/* Стиль для заголовка таблицы  */
.inventory caption {
    text-align: right;
    font-size: .85em;
    margin-bottom: 10px;
}

/*  Общий стиль для ячеек (td) и заголовков (th) */
.inventory td,
.inventory th {
    font-size: 1.1em;
    border: 1px solid #DDB575;
    padding: 3px 7px 2px 7px;   
}

/* Специальный стиль только для заголовков (th)  */
.inventory th {
    text-transform: uppercase;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;

    background: rgb(229, 76, 16);

    background: linear-gradient(to bottom, rgb(229, 76, 16), rgb(173, 54, 8));

    color: white;
}

/* Чередование строк (zebra-striping) */
.inventory tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, .1);
}

.inventory tr:nth-of-type(odd) {
    background-color: rgba(229, 76, 16, .1);
}

/* Ширина столбцов через col-элементы */
#price,
#rating {
    width: 20%;
}